#scroller{
    padding-top: 70px;
    padding-bottom: 70px;
}

.body-container{
    background: -webkit-linear-gradient(rgb(136, 30, 30),rgb(61, 37, 37));
    background: -o-linear-gradient(rgb(136, 30, 30),rgb(61, 37, 37));
    background: linear-gradient(rgb(136, 30, 30),rgb(61, 37, 37));
	/*background-color: rgb(136, 30, 30);*/
}

#buy-tip-title{
    color: white;
    font-weight: bold;
    text-align: center;
}
#buy-tip-title .title1{
    margin: 0 auto 9px;
    font-size: 2.4rem;
    width: 78vw;
}
#buy-tip-title .title2{
    margin: 0 0 9px;
    font-size: 1.6rem;
}

#buy-top-content .buy-top-text{
    width: 88%;
    margin: 0 auto;
    font-size: 1.3rem;
    text-align: center;
    line-height: 2rem;
}

#buy-content{
    color: #000;
    background-color: white;
    width: 78%;
    margin: 40px auto 0;
    border-radius: 20px;
    padding: 25px;
}
.buy-tips{
    /*width : 75%;*/
    font-size: 2.2rem;
    /* font-weight: bold; */
    margin: 20px auto 22px;
    color: #282828;
    text-align: center;
}
.buy-tips-text{
    margin: 0 0 9px;
    font-size: 1.3rem;
    text-align: left;
    letter-spacing: 0.1rem;
    line-height: 2rem;
}

.gamefund-website{
    text-align: left;
    font-size: 1.3rem;
}
.gamefund-website a{
    color: #000;
}

.join-form-content{
    margin: 30px 0;
}

.must-fill-tip{
    color: rgb(241,0,0);
    font-size: 1.3rem;
    margin-bottom: 40px;
}

.fill-input-content{
    margin-bottom: 37px;
}

.form-item-title{
	text-align: left;
    margin-bottom: 9px;
    font-size: 1.45rem;
}

.email-notice{
    margin-top: 5px;
}

.sale-count-title{
    font-size: 1.45rem;
    margin-bottom: 9px;
}
.check-item{
    margin-bottom: 11px;
    width: 100%;
}
.check-item input{
    display: none;
}
.rulelabel{
    width: 40vw;
    background-image: url(../images/unchecked.png);
    background-size: 10%;
    background-position: left center;
    height: 2rem;
    line-height: 2rem;
    text-align: left;
    padding-left: 6vw;
    margin: 0;
    top: 0;
    position: relative;
    background-repeat: no-repeat;
    display: inline-block;
    font-size: 1.3rem;
    color: #787a77;
}
#account0:checked+label{
    background-image: url(../images/checked.png);
}
#account1:checked+label{
    background-image: url(../images/checked.png);
}
#account2:checked+label{
    background-image: url(../images/checked.png);
}
#account3:checked+label{
    background-image: url(../images/checked.png);
}
#account4:checked+label{
    background-image: url(../images/checked.png);
}
#account5:checked+label{
    background-image: url(../images/checked.png);
}
#account6:checked+label{
    background-image: url(../images/checked.png);
}

.buy-item-input{
	outline: none;
    width: 100%;
    font-size: 1.3rem;
    height: 40px;
    border-radius: 1vw;
    border: 1px solid rgb(213,213,213);
    text-indent: 1rem;
    color: #787a77;
}



.wallet-item-title{
	text-align: left;
    margin: 29px 0 8px;
    font-size: 1.4rem;
}
.num-item-title{
	text-align: left;
    margin: 40px 0 8px;
    font-size: 1.4rem;
}
#need-pay-num{
    margin: 8px 0;
    font-size: 1.4rem;
    display: flex;
    height: 20px;
    line-height: 20px;
}
.currency-item-title
{
    text-align: left;
    margin: 17px 0 10px;
    color: #787a77;
    font-size: 1.4rem;
}
#currency-type{
    margin-left: 2px;
}
#need-count{
    margin-left: 5px;
}
#buy-confirm-btn{
    background-color: rgb(185,4,0);
    height: 40px;
    width: 65vw;
    margin: 30px auto 45px;
    border-radius: 20px;
    line-height: 40px;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
}

.statement-content{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.statement-content .statement-radio{
    width: 5vw;
    height: 5vw;
    /*border: 1px solid rgb(220,220,220);*/
    /*background-color: #fff;*/
    margin-right: 5px;
    /*display: none;*/
}

.statement-content .statement-radio img{
    width: 100%;
}

.statement-unchecked{
    background-image: url('../images/2.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.statement-checked{
    background-image: url('../images/1.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.statement-text{
    text-align: left;
    font-size: 1.45rem;
}

.statement-text .statement-text-span1{
	color: rgb(99,99,99);
}

.statement-text .statement-text-span2{
	color: rgb(185,4,0);
}

.statement-container{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 50;
    display: none;
}

.statement-content-out{
    width: 80vw;
    height: 80vh;
    background-color: rgb(255,255,255);
    margin: 10vh auto;
    border: 1px solid rgb(255,255,255);
    border-radius: 15px;
}

.statement-page-content{
    position: absolute;
    top : 13vh;
    bottom : 13vh;
    width : 80vw;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.statement-page-content .page-title{
    margin: 2.5vh auto 3vh;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    color: rgb(113,113,113);
    letter-spacing: 0.1rem;
}

.statement-page-content .page-content{
    font-size: 1.25rem;
    color: rgb(113,113,113);
    margin: 0 8vw;
    line-height: 3.2vh;
}

.statement-button {
    display: flex;
    width: 80%;
    margin: 0 auto;
}

.statement-button .page-accept-btn{
    background-color: rgb(185,4,0);
    margin: 40px auto;
    width: 28vw;
    height: 5.5vh;
    line-height: 5.5vh;
    border-radius: 3rem;
    font-size: 1.5rem;
    color: white;
    text-align: center;
    letter-spacing: 0.1rem;
    cursor: pointer;
}

.statement-button .page-return-btn{
    background-color: rgb(185,4,0);
    margin: 40px auto;
    width: 28vw;
    height: 5.5vh;
    line-height: 5.5vh;
    border-radius: 3rem;
    font-size: 1.5rem;
    color: white;
    text-align: center;
    letter-spacing: 0.1rem;
    margin-left: 20px;
    cursor: pointer;
}


/** 提交成功的提示框*/
.whitelist-successful-container {
    position: absolute;
    top: 50px;
    right: 0;
    bottom: 50px;
    left: 0;
    background-color: white;
    z-index: 50;
    display: none;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.successful-content-container{
    background-color: white;
    width: 100%;
    /*margin: 7vh auto 18vh;*/
}

.whitelist-successful-content {
    /*position: absolute;
    top: 7vh;
    bottom: 7vh;*/
    color: rgb(60,60,60);
    /*overflow: auto;*/
}

.whitelist-successful-title {
    font-size: 2rem;
    text-align: center;
    margin: 35px 0 28px;
}

.whitelist-successfull-text {
    font-size: 1.4rem;
    line-height: 2rem;
    margin: 0 25px 10px;
}

.whitelist-p2{
    margin: 10px 0;
}
.whitelist-p3{
    margin-bottom: 10px;
}

.whitelist-successful-btn{
    /*display: flex;*/
    justify-content: center;
    margin: 30px auto 30px;
}

.whitelist-successful-div1{
    background-color: rgb(185,4,0);
    height: 40px;
    line-height: 40px;
    width: 85vw;
    border-radius: 20px;
    text-align: center;
    margin: auto;
}

.whitelist-successful-div2{
    background-color: rgb(185,4,0);
    height: 40px;
    line-height: 40px;
    width: 85vw;
    border-radius: 20px;
    margin-left: 20px;
    text-align: center;
    margin: 4vh auto;
}

.whitelist-successful-confirm1 {
    font-size: 1.4rem;
    color: white;
    text-decoration: none;
}

.whitelist-successful-confirm2 {
    font-size: 1.2rem;
    color: white;
    text-decoration: none;  
    height: 20px;
    line-height: 20px;
}

.whitelist-successful-confirm3 {
    text-align: center;
    font-size: 1.2;
    font-size: 1.2rem;
    width: 80%;
    margin: auto;
    margin-top: -3vh;
}

.submit-check-content{
    margin-bottom: 20px;
}

.get-code{
    display: flex;
    align-items: center;
}

.code-input input{
    width: 24vw;;
    height: 40px;
    margin-right: 6px;
    outline: none;
    font-size: 1.3rem;
    border-radius: 1vw;
    border: 1px solid rgb(213,213,213);
    text-indent: 1rem;
    color: #787a77;
}

/*.code-img img{
    width: 20vw;;
    height: 40px;
}*/

.code-img span{
    font-size: 1.45rem;
    margin-top : 10px;
}

/*.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
    width: 65vw;
}

.dropdown-menu{
    right: 1vw;
}*/

.input-tips p{
    margin: 0 0;
}

.dropdown-menu{
    font-size: 1.25rem;
}
.btn{
    font-size: 1.45rem;
}

#user-list ul{
    margin-bottom: 0px;
}