.body-container
{
    background-color: rgba(243,243,243,1.0);
}
.income-title-container 
{
    background-color: white;
}

.income-title-container .title{
    height: 50px;
    font-size: 2rem;
    color: black;
    border-bottom: 1px solid #dbdbdb;
    display: flex;
    justify-content: center;
    align-items: center;
}


.income-list-container {
    position: absolute;
    top: 51px;
    right: 0;
    left: 0;
    bottom: 0;
}
.item-li{
    height: 48px;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    margin-bottom: 10px;
    background-color: white;
}
.item-icon{
    margin-left: 20px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-icon img{
    width: 48px;
    height: 48px;
}
.item-nickname-time
{
    height: 48px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.item-nickname-time .item-nickname
{
    font-size: 1.5rem;
}
.item-nickname-time .item-time
{
    color: rgb(144,144,144);
    font-size: 1.2rem;
}
.item-price
{
    margin-right: 20px;
}
.item-end{
    border: none;
    justify-content: center;
    color: rgba(210,210,210,1);
    background: none;
}