.body-container
{
    background-color: rgba(243,243,243,1.0);
}
.order-title-container 
{
    background-color: white;
}
.order-title-container .title{
    height: 50px;
    font-size: 2rem;
    color: black;
    border-bottom: 1px solid #dbdbdb;
    display: flex;
    justify-content: center;
    align-items: center;
}


.order-list-container {
    position: absolute;
    top: 51px;
    right: 0;
    left: 0;
    bottom: 0;
}
.order-li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    padding: 10px 0;
    margin-bottom: 10px;
    background-color: white;
    height: 60px;
}

.order-li .order-left p:first-child{
    font-size: 1.4rem;
    font-weight: bold;
}

.order-li .order-center p:first-child{
    font-size: 1.2rem;
    color: rgb(144,144,144);
}

.order-left{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
}
.order-center
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
}
.order-right{
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
}

.order-right a{
    text-decoration: none;
    color:rgb(197,57,34);
    border: 1px solid rgb(197,57,34);
    border-radius: 1px;
    padding:4px 8px;
}

.order-complete .order-right p
{
    color: rgb(85,229,143);
}

.order-waiting-pay .order-right p
{
    color: rgb(197,57,34);
}
.order-verifying .order-right p{
    color: rgb(43,144,222);
}
.order-failure .order-right p
{
    color: rgb(144,144,144);
}

.order_detail {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.order_detail .container
{
    position: relative;
    background-color: rgba(255, 255, 255, 1.0);
    width: 80%;
    height: 80%;
    padding: 40px 20px;

}
.order_detail .ticket-container
{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
.order_detail .order-detail-close{
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 3rem;
}

.order_detail .order-detail-close i{
    line-height: 40px;
}

.order_detail .pay-detail-qrcode{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.order_detail .order-detail-title{
    font-weight: bold;
    font-size: 1.6rem;
}

.order-info-container span {
    display: inline-block;
    word-break: normal;
    white-space: pre-wrap;
    max-width: 60%;
    word-wrap: break-word;
    overflow: hidden;
    padding-left: 10px;
    height: 16px;
    line-height: 16px;
}

.pay-info{
    margin-top: 20px;
    margin-bottom: 50px;
}

.order-info{
    margin-bottom: 50px;
}

.order-info-container
{
    margin: 6px 0;
    height: 16px;
    line-height: 16px;
}

.order-info-container span:first-child{
    min-width: 30%;
}

.pay-info-container
{
    text-align: center;
} 

.pay-info-container p:first-child{
    font-size: 1.4rem;
}
.pay-info-container p{
    margin: 6px 0;
    word-break: break-word;
}