#scroller{
    padding-top: 70px;
    padding-bottom: 70px;
}

.body-container{
	background-color: rgb(235,235,235);
    bottom: 0;
}

#register-btn {
    background-color: rgb(185,4,0);
    margin: 60px auto 40px;
    width: 90vw;
    height: 40px;
    line-height: 40px;
    border-radius: 3rem;
    font-size: 1.8rem;
    color: white;
    text-align: center;
    letter-spacing: 0.1rem;
    cursor: pointer;
}
.forget-and-register{
	color: rgb(241,0,0);
    font-size: 1.5rem;
    text-decoration: none;
    margin: 0 2vw;
    letter-spacing: 0.1rem;
}

.input-content {
    margin: 0 auto 12px;
    width: 90vw;
}

#code-input{
     width: 50%;
}

.detail-content{ 
    display: inline-block;
    width: 34vw;
    position: relative;
    left: 8vw;
}
.detail-btn{
    height: 40px;
    line-height: 40px;
    font-size: 1.4rem;
    border: 1px solid rgb(241,0,0);
    border-radius: 3rem;
    color: rgb(241,0,0);
    text-align: center;
    letter-spacing: 0.1rem;
    vertical-align: middle; 
    cursor: pointer;
}

.code-detail-background{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;   
}
.code-detail-content{
    background-color: rgb(185,4,0);
    color: white;
    width: 100%;
    position: absolute;    
    bottom: 0vh;
}
.code-content{
    width: 90%;
    margin: 5vh auto;
    line-height: 20px;
}
.half-title{
    margin-bottom: 0.5vh;
    font-size: 1.4rem;
    font-weight: bold;
}

#code-top-content{
    font-size: 1.2rem;
    margin-top: 4vh;
    text-align: center;
}
#code-bottom-content{
    font-size: 1rem;
    margin-top: 6vh;
    text-align: center;
    margin-bottom: 12vh;
}

#detail-close{
    float:right;
    font-size: 2.8rem;
    margin-right: 2vw;
}



.bottom-half-text-ul{
    font-size: 1.2rem;
    width: 100%;
    text-align: left;
}

.bottom-half-text-ul li{
    /*margin-bottom:10px;*/
    white-space: nowrap;
    list-style-type: none;
    /*display: flex;
    justify-content: center;*/
}

.bottom-half-text-ul li::before{
    content: "■";
    float:left;
}

.bottom-half-text-ul li p {
    text-indent: 0.5rem;
    white-space: normal;
}

.invite-password-text{
    text-align: left;
    color: rgb(99,99,99);
    margin-left: 1vw;
    font-size: 1.2rem;
    margin-top: 8px;
}

.statement-content{
    display: flex;
    align-items: center;
    margin-left: 5vw;
    /*cursor: pointer;*/
}

.statement-content .statement-radio{
    width: 5vw;
    height: 5vw;
    border: 1px solid rgb(220,220,220);
    background-color: #fff;
}

.statement-checked{
    background-image: url('../images/check.bmp');
    background-repeat: no-repeat;
}

.statement-text{
    text-align: left;
    margin-left: 1vw;
    font-size: 1.45rem;
}

.statement-text .statement-text-span1{
	color: rgb(99,99,99);
}

.statement-text .statement-text-span2{
	color: rgb(185,4,0);
}

.statement-container{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 50;
    display: none;
}

.statement-page-content{
    width: 88vw;
    height: 80vh;
    background-color: rgb(255,255,255);
    margin: 12vh auto 8vh;
    border: 1px solid rgb(255,255,255);
    border-radius: 15px;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.statement-page-content .page-title{
    margin: 10px auto 20px;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    color: rgb(113,113,113);
    letter-spacing: 0.1rem;
}

.statement-page-content .page-content{
    font-size: 1.25rem;
    color: rgb(113,113,113);
    margin: 0 8vw 20px;
    line-height: 3.2vh;
}

.statement-page-content .page-accept-btn{
    background-color: rgb(185,4,0);
    margin: 40px auto;
    width: 64vw;
    height: 6vh;
    line-height: 6vh;
    border-radius: 3rem;
    font-size: 1.8rem;
    color: white;
    text-align: center;
    letter-spacing: 0.1rem;
}

.top-pull-down{
    position: fixed;
    height: 4vh;
}

#server-close{
    float:right;
    font-size: 2.8rem;
    margin-left: 80vw;
    color: rgb(47,47,47);
}

.server-page-p{
    font-size: 1.4rem;
    font-weight: 600;
    margin: 5px auto 0;
}

.middle-server-centent{
    position: absolute;
    top: 16vh;
    bottom: 12vh;
    width: 88vw;
    overflow: auto;
}

#down-two{
	display: flex;
    justify-content: center;
    width: 90vw;
}

#down-two span{
    color: rgb(99,99,99);
    font-size: 1.5rem;
}